<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632692669439-60rolqmbgvvpi4iqsciusoai1j1ohp4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632692669439-60rolqmbgvvpi4iqsciusoai1j1ohp4u</string>
	<key>API_KEY</key>
	<string>AIzaSyDguvnW8Wb9cWMy1EprOaAWHeG5H0vR-O4</string>
	<key>GCM_SENDER_ID</key>
	<string>632692669439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hobbybuddy</string>
	<key>PROJECT_ID</key>
	<string>hobbybuddy-be26c</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbybuddy-be26c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632692669439:ios:f30f545fc9364c570e45ca</string>
</dict>
</plist>